body {
    background-color: #Ddd;
}

form {
    padding: 5%;
}

.form-check {
    padding: 1%;
}

.menu {
    padding: 1%;
}

#titleLine {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}